body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    color: #fff;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:  #2c3e50;
}

/* 🔹 Contenido principal */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 70px); /* espacio menos el header */
}

/* 🔹 Caja principal */
.container {
    background: #fff;
    padding: 10px 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    width: 320px;
}

/* 🔹 Títulos */
h1 {
    color: #2c3e50;
    margin-bottom: 25px;
    font-size: 1.6rem;
}

/* 🔹 Enlaces estilo botón */
p {
    margin: 15px 0;
}

a {
    display: block;
    padding: 12px;
    background: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    transition: background 0.3s ease;
}

a:hover {
    background: #1d6fa5;
}
